@import "tailwindcss";

@keyframes shimmerSlide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
  }
}

@keyframes spinAround {
  0% {
    transform: translateZ(0) rotate(0);
  }
  15%,
  35% {
    transform: translateZ(0) rotate(90deg);
  }
  65%,
  85% {
    transform: translateZ(0) rotate(270deg);
  }
  100% {
    transform: translateZ(0) rotate(360deg);
  }
}

@keyframes shine-pulse{
  0% {
    background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

@theme inline{
  --animate-shine-pulse: shine-pulse 6s linear infinite;
}